@model IEnumerable<Better.MVC.ViewModels.EstacionamentoViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSaida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPagar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSaida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPagar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstacionamentoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstacionamentoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstacionamentoId })
        </td>
    </tr>
}

</table>
